<article class="post">
     <div class="title">
        <a href="/lessons/{{id}}">{{title}}</a>
    </div> 
    <div class="meta">
        {{vote_count}} {{format_plural "Star" vote_count}} by {{user.username}} on {{format_date createdAt}}
        |
        {{comments.length}} {{format_plural "Comment" comments.length}}
    </div>
    <p class="card-body">{{content}}</p>
</article>