<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-2 card-img flex-column align-items-end">
            <img class="rocket-ship" src="../../images/rocket-ship.svg"/>
        </div>
        <div class="col-md-10">
            <a href="/lessons/{{id}}"><div class="card-body">
                <h5 class="card-title flex-row justify-content-between">{{title}}<p class="card-text"><small class="text-muted votes"><i class="fas fa-star"></i> {{vote_count}} {{format_plural "Star" vote_count}}</small></p></h5>
                <p class="card-subtitle"><small class="text-muted">by {{user.username}} on {{ format_date createdAt }}</small></p>
                <p class="card-text">{{desc}}</p>
                <p class="card-text"><small class="text-muted"><a href="/lessons/{{id}}">{{comments.length}} {{format_plural "Comment" comments.length}}</a></small></p>
            </div></a>
        </div>
    </div>    
</div>