<div class="flex-row justify-content-between">
  <h2>{{lessons.title}}</h2>
  <button class="upvote-btn"><i class="fas fa-star"></i> {{lessons.vote_count}}
    {{format_plural "Star" lessons.vote_count}}</small></p></button>
  </div>
<p><small class="text-muted">by {{lessons.user.username}} on {{format_date lessons.createdAt}}</small></p>
<p>{{lessons.desc}}</p>

{{#if loggedIn}}
<br>
<hr>
<form class="comment-form">
  <div class="form-group">
    <textarea placeholder="Add a comment..." name="comment-body" class="form-control" rows="3"></textarea>
  </div>

  <div class="flex-row justify-content-end">
    <button class="btn btn-deep-purple" type="submit">Comment</button>
  </div>
</form>
{{/if}}

<h3>Comments</h3>
{{> comments lessons.comments}}

{{#if loggedIn}}
    <script src="/javascript/comment.js"></script>
    <script src="/javascript/upvote.js"></script>
{{/if}}